:root {
  --primary-text-color: #757575;
  --secondary-color-text: #212121;
  --primary-white-color: #ffffff;
  --logo-black-color: #000000;
  --accent-color: #2196f3;
  --accent-color-text: rgba(255, 255, 255, 0.6);
  --button-grey-color: #f5f4fa;
  --dummy-bg-color: #2f303a;
  --border-color: #ececec;
  --bg-hero: #c4c4c4;
  --bg-hero-gradient: rgba(47, 48, 58, 0.4);
}
/*цвет основного текста --> color: #757575; */
/*цвет вторичного текста --> color: #212121; */
/*белый --> #FFFFFF */
/*акцент --> color: #2196F3; */
/*акцентный цвет текста color: rgba(255, 255, 255, 0.6); */

body {
  margin: 0;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "Roboto", Arial, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;

  /* outline: 1px solid tomato; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* HEADER */
.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}
.accent {
  color: var(--accent-color);
}
.logo {
  margin-right: 93px;

  color: var(--logo-black-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.navigation .link {
  /* outline: 1px solid tomato; */

  color: var(--secondary-color-text);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation,
.adds {
  /* outline: 1px solid tomato; */
}
.logo {
  display: block;
  /* outline: 1px solid tomato; */
}
.navigation .link,
.adds .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation .link:hover,
.navigation .link:focus {
  color: var(--accent-color);
}
.navigation .current {
  color: var(--accent-color);
}
.adds {
  display: flex;
  margin-left: auto;
}
.navigation .item:not(:last-child),
.adds .item:not(:last-child) {
  margin-right: 50px;
}
.adds .link {
  display: flex;
  align-items: center;

  /* outline: 1px solid tomato; */
  color: inherit;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.adds .link:hover,
.adds .link:focus {
  color: var(--accent-color);
}
.page-header > .container,
.site-nav .navigation,
.site-nav {
  display: flex;
}
.page-header > .container,
.site-nav {
  align-items: center;
}
.adds .adds-icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
}
.adds-link:hover .adds-icon {
  fill: var(--accent-color);
}

/* /HEADER */

/* MAIN */

/* Временный bg, т.к. заголовок сливается с фоном */
.dummy-bg {
  background-color: var(--dummy-bg-color);
}

/* HERO */

.hero {
  text-align: center;
  /* padding-top: 200px;
  padding-bottom: 200px; */
}
.hero-bg {
  margin-left: auto;
  margin-right: auto;

  height: 600px;
  max-width: 1600px;
  background-color: var(--bg-hero);
  background-image: linear-gradient(
      var(--bg-hero-gradient),
      var(--bg-hero-gradient)
    ),
    url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: contain; */

  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: none;
}
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}
.button:hover {
  background-color: #188ce8;
}

/* /HERO */

/* QUALITY */
.quality .quality-list {
  display: flex;
}
.quality-list .item {
  /* outline: 1px solid tomato; */
  width: 270px;
}
.quality-list .item:not(:last-child) {
  margin-right: 30px;
}
.title-style {
  color: var(--secondary-color-text);
}
.quality .title-style {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.quality .quality-wrapper {
  height: 120px;
  background-color: var(--button-grey-color);
  padding: 25px 100px;
  margin-bottom: 30px;
}

/* /QUALITY */

/* WORK */
.work {
  padding-top: 0;
}
.work .title-style {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.work .work-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}
.work-list > .item {
  flex-basis: calc(100% / 3 - 30px);

  margin-left: 30px;
  margin-top: 30px;
}
.work .work-pic {
  display: block;
  max-width: 100%;
}
/* WORK */

/* TEAM */
.team {
  background-color: var(--button-grey-color);
  padding-bottom: 94px;
}
.team .team-pic {
  display: block;
  max-width: 100%;
  /* outline: 1px solid tomato; */
}
.team .team-list {
  /* outline: 1px solid tomato; */

  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.team-list > .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border-bottom-right-radius: 14%;
  border-bottom-left-radius: 14%;
  background-color: var(--primary-white-color);

  /* background-color: tomato; */
}
.team .team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  /* outline: 1px solid tomato; */
}
.team .team-people {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-post {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team .wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
}
/* /TEAM */
/* /MAIN */

/* FOOTER */
.basement {
  padding-top: 60px;
  padding-bottom: 60px;
}
.basement .adds-item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}
.basement-adds-value {
  color: var(--primary-white-color);
  font-style: normal;
}
.basement .link {
  color: var(--accent-color-text);
  font-style: normal;
}
.basement .logo {
  color: var(--primary-white-color);
  margin-right: 0;
  margin-bottom: 20px;
}
.basement-adds .link:hover,
.basement-adds .link:focus {
  color: var(--accent-color);
}
/* /FOOTER */

/* PORTFOLIO */

.portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.portfolio .filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio .filter-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio .button {
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  color: var(--secondary-color-text);
  background-color: var(--button-grey-color);

  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.link-title {
  margin-bottom: 4px;

  color: var(--secondary-color-text);

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-list > .portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  /* outline: 1px solid tomato; */
}
.portfolio .portfolio-title {
  padding: 20px 24px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-color: var(--border-color);
  border-left-color: var(--border-color);
  border-right-color: var(--border-color);
  /* outline: 1px solid tomato; */
}

.portfolio img {
  display: block;
  max-width: 100%;
  /* outline: 1px solid tomato; */
}

.description {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}
/* /PORTFOLIO */

/* HIDDEN HEADER */
.h-hidden {
  /* display: none; */
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* /HIDDEN HEADER */
